 <!-- sets page title to reduce duplications %> -->
<!--
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body> -->
    <h1>About</h1>
    <p>
      The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
      Tutorial</em></a> is a
      <a href="https://www.railstutorial.org/book">book</a> and
      <a href="http://screencasts.railstutorial.org/">screencast series</a>
      to teach web development with
      <a href="http://rubyonrails.org/">Ruby on Rails</a>.
      This is the sample application for the tutorial.
    </p>
  <!-- </body>
</html> -->
