<% provide(:title, "Help")%>
<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  </head>
  <body> -->
    <h1>This is help page</h1>
    <p>Get help on RUby on rails at the  <a href="https://railstutorial.org"> Ruby on rails tuts
    </a></p>
  <!-- </body>
</html> -->
